<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnu.mapper.bus.BusCommentMapper">

    <sql id="Base_Column_List">
        id,content,user_id,pid,root_id,time,fid,module
    </sql>

    <select id="selectAll" resultType="com.scnu.entity.bus.BusComment">
        select
        <include refid="Base_Column_List" />
        from bus_comment
        <where>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectOneAll" resultType="com.scnu.entity.bus.BusComment">
        select comment.*, user.avatar, user.user_name as userName, u2.user_name as replyUser
        from bus_comment comment
        left join front_user user
        on comment.user_id = user.user_id
        left join bus_comment c2
        on comment.pid = c2.id
        left join front_user u2
        on c2.user_id = u2.user_id
        where comment.fid = #{fid} and comment.module = #{module} and comment.pid is null
        order by comment.id asc
    </select>

    <select id="selectById" resultType="com.scnu.entity.bus.BusComment">
        select
        <include refid="Base_Column_List" />
        from bus_comment
        where id = #{id}
    </select>

    <select id="selectTree" resultType="com.scnu.entity.bus.BusComment">
        select comment.*, user.avatar, user.user_name as userName, u2.user_name as replyUser
        from bus_comment comment
        left join front_user user
        on comment.user_id = user.user_id
        left join bus_comment c2
        on comment.pid = c2.id
        left join front_user u2
        on c2.user_id = u2.user_id
        where comment.fid = #{fid} and comment.module = #{module}
        order by comment.id desc
    </select>

    <delete id="deleteById">
        delete from bus_comment
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.scnu.entity.bus.BusComment" useGeneratedKeys="true" keyProperty="id">
        insert into bus_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="pid != null">pid,</if>
            <if test="rootId != null">root_id,</if>
            <if test="time != null">time,</if>
            <if test="fid != null">fid,</if>
            <if test="module != null">module,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="pid != null">#{pid},</if>
            <if test="rootId != null">#{rootId},</if>
            <if test="time != null">#{time},</if>
            <if test="fid != null">#{fid},</if>
            <if test="module != null">#{module},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.scnu.entity.bus.BusComment">
        update bus_comment
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="rootId != null">
                root_id = #{rootId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="fid != null">
                fid = #{fid},
            </if>
            <if test="module != null">
                module = #{module},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>