<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnu.mapper.system.SysUserRoleMapper">

    <sql id="Base_Column_List">
        user_id,role_id
    </sql>

    <insert id="add" parameterType="com.scnu.entity.system.SysUserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
        </trim>
    </insert>

    <delete id="deleteById">
        delete from sys_user_role
        where  user_id = #{userId}
    </delete>

    <select id="selectByUserId" resultType="com.scnu.entity.system.SysUserRole">
        select
        <include refid="Base_Column_List" />
        from sys_user_role
        where user_id = #{userId}
    </select>
</mapper>
